*{
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}
.body{
	height: 100%;
}
.sosmed{
	background-color: #049FA4;
	padding: 5px;
}
.sosmed ul li{
	display: inline-block;
	padding-right: 5px;
	padding: 5px;
}
.sosmed a{
	color: white;
	text-decoration: none;
}
.container{
	margin-left: 10%;
}
.container:after{
	content: '';
	display: block;
	clear: both;
}
header a{
	color: #049FA4;
}
header h1{
	 float: left;
	 padding: 15px 0;
}
header ul{
	 float: right;
}
header ul li{
	display: inline-block;
}
header a{
	text-decoration: none;
}
header ul li a{
	display: inline-block;
	padding: 25px 20px;
}
header ul li a:hover{
	background-color: #049FA4;
	color: white;
}
.active{
	background-color: #049FA4;
}
.active a{
	color: white;
}
.banner{
	height: 400px;
	border: 1px solid;
	background-image: url(img/img.jpg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(4, 159, 164, .5); 
}
.banner h2{
	z-index: 1;
	color: white;
	padding: 20px;
	border: 3px solid;
}
.flex-column{
	display: flex;
	flex-direction: column;
}
.flex-row{
	display: flex;
	flex-direction: row;
}
.aside{
	flex-basis: 33.5%;
	background-color: #ACCCCC;
	margin-top: 10px;
	box-sizing: border-box;
	margin-left: 10px;
}
.aside a{
	color: white;
	text-decoration: none;
	font-size: 34px;
}
.content h2{
	text-align: center;
}
.stripe{
	height: 7px;
	background-color: white;
}
.aside img{
	float: left;
	padding-right: 10px;
}
.aside p{
	text-align: justify;
	margin-top: 3px;
	padding: 4px;
}
.main1{
	flex-basis: 33.5%;
	margin: 10px;
	box-sizing: border-box;
	margin-left: 20px;
}
.main1 h2{
	background-color: #ACCCCC
}
.main1-1{
	background-color: #ACCCCC
}
.main1 p{
	text-align: justify;
	margin-left: 6px;
	margin-right: 6px;
	padding: 7px;
}
.main2{
	flex-basis: 33.5%;
	margin: 10px;
	box-sizing: border-box;
}
.main2 h2{
	background-color: #ACCCCC
}
.main2-1{
	background-color: #ACCCCC
}
.main2 p{
	text-align: justify;
	margin-left: 6px;
	margin-right: 6px;
	padding: 7px;
}
footer {
  width: 100%;
  background-color: #049FA4;
  color: white;
  text-align: center;
  height: 50px;
}
footer p{
	padding-top: 14px;
}

@media screen and (max-width: 600px) {
	.flex-row{
		flex-direction: column;
	}
	.aside, .main2 {
		width: 96%;
		padding: 0;
	}
	.main1{
		width: 96%;
		padding: 0;
		margin-left: 9px;
	}
}